* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: url("images/us2.jpg");
    background-size: auto 100%; /* Or try background-size: 100% auto; */
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: grid;
    place-items: center;
    overflow: hidden;
    font-family: sans-serif;
  }
  
  
  header {
    position: absolute;
    z-index: 999;
    text-align: center;
    top: 0rem;
    text-decoration: aquamarine;
    padding: 1rem;
  }
  